*{
	margin: 0;
	padding: 0;
	font-family: 'Cardo', serif;
}


#insta{
	background-image: url(../img/fondo-2.jpg);
	height: 538px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}



/*****Da diseño al boton dropdrown*******/
.toggle-mio {
	background-color: transparent;
	color: whitesmoke;
	border: none;
	font-size: 10px;
}


/******Da propiedades al logo de instagram*******/
.imagen-instagram {
	width: 218px;
	margin-left: 37px;
	margin-top: 26px;
	margin-bottom: 7px;
}

/********Da estilos a los inputs*********/
.primer-input {
	margin-bottom: 15px;
}

.input-mio{
	background-color: rgba(0, 0, 0, 0.47);
	opacity: 0.5;
	color: whitesmoke;
}



/******Da estilo al boton para iniciar sesión******/
.btn-mio {
	background-color: transparent;
	padding: 12px;
	margin-top: 50px;
	font-size: 17px;
	color: whitesmoke;
	font-weight: bolder;
	width: 100%;
	
}


/*****Da estilo a la seccion ayuda con la cuenta******/
.pregunta {
	margin-top: 20px;
	color: whitesmoke;
	width: 100%;
	padding-left: 39px;
	font-size: 13px;
}

.ayuda{
	font-weight: bolder;
	color: whitesmoke;
	font-size: 15px;
}


/******Da estilo al icono de facebook y circulo de separacion******/
.fa{
	color: whitesmoke;
}


.fa-circle-o {
	position: relative;
	bottom: 30px;
}



.logo-facebook {
	width: 271px;
	padding-left: 85px;
}

.fa-facebook-official {
	font-size: 20px;
}


/*****Da estilo al inicio de sesión con facebook******/
#inicio{
	color: whitesmoke;
	padding-left: 10px;
	padding-top: 8px;
	font-size: 12px;
}

.footer{
	padding-top: 11px;	
    padding-left: 65px;

}






/**********Segundo html***********/

#contiene{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 46vh;
    margin: auto 0;
    border: 2px solid whitesmoke;
    margin-left: 10px;
    background-color: rgb(12, 144, 124);
}

#fotos-collage{
	padding-top: 20px;
	width: 100%;
	height: 120px;
	margin: 30px;
}

.fotos{
	    height: 135px;
	    display: inline-block;
}

.contenedor{
	    display: inline-block;
    padding: 10px;
}

.foto