*{
	margin: 0;
	padding: 0;
	font-family: 'Cardo', serif;
}


#insta{
	background-image: url(../img/fondo-2.jpg);
	height: 580px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}


/*****Da diseño al boton dropdrown*******/
.toggle-mio{
	background-color: transparent;
	color: whitesmoke;
	border: none;
}


/******Da propiedades al logo de instagram*******/
.imagen-instagram{
	width: 300px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
}



/********Da estilos a los inputs*********/
.primer-input{
	margin-bottom: 20px;
}

.input{
	margin-left: 52px;
	width: 420px;	
}



/******Da estilo al boton para iniciar sesión******/
.btn-mio{
	background-color: transparent;
	padding: 12px;
	margin-top: 50px;
	font-size: 17px;
	color: whitesmoke;
	font-weight: bolder;
	width: 420px;	
}

.input-mio{
	background-color: rgba(0, 0, 0, 0.47);
	opacity: 0.5;
	color: whitesmoke;
}


/*****Da estilo a la seccion ayuda con la cuenta******/
.pregunta{
	margin-top: 20px;
	color: whitesmoke;
}

.ayuda{
	font-weight: bolder;
	color: whitesmoke;
}


/******Da estilo al icono de facebook y circulo de separacion******/
.fa{
	color: whitesmoke;
}

.fa-circle-o{
	position: relative;
	bottom: 30px;
}

.fa-facebook-official{
	font-size: 30px;
}

.logo-facebook{
	display: flex;
}



/*****Da estilo al inicio de sesión con facebook******/
.inicio-sesion-facebook{
	color: whitesmoke;
	padding-left: 10px;
    padding-top: 9px;
    font-size: 17px;
    font-weight: bolder;
}

.registrate{
	color: whitesmoke;
 	font-weight: bolder;	
}


/*******Da estilo al footer*********/

footer{
	color: whitesmoke;
	background-color: rgb(60, 21, 66);
	font-size: 17px;
}